In [2]:
%matplotlib notebook
%matplotlib inline

In [3]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
import seaborn as sns
import calendar
import random

## Read in Dirty CSV

In [4]:
df_dirty = pd.read_csv('Data/CC_2020YTD_Dirty.csv')

In [5]:
df_dirty

,Transaction Date,Post Date,Description,Category,Type,Amount,Memo
0,11/17/2020,11/17/2020,Payment Thank You-Mobile,NaN,Payment,6278.18,NaN
1,11/15/2020,11/17/2020,BANGSALONVERIZONCENTER,Personal,Sale,-44.00,NaN
2,11/16/2020,11/17/2020,HILL COUNTRY DC LLC,Food & Drink,Sale,-32.60,NaN
3,11/16/2020,11/17/2020,HILL COUNTRY DC LLC,Food & Drink,Sale,-84.67,NaN
4,11/15/2020,11/17/2020,NORDSTROM #0675,Shopping,Return,169.47,NaN
...,...,...,...,...,...,...,...
907,01/02/2020,01/03/2020,WALMART.COM,Shopping,Sale,-52.50,NaN
908,01/02/2020,01/03/2020,UBER TRIP,Travel,Sale,-8.00,NaN
909,01/01/2020,01/02/2020,UBER TRIP,Travel,Sale,-13.09,NaN
910,12/31/2019,01/02/2020,7-ELEVEN 33452,Gas,Sale,-6.20,NaN
911,12/30/2019,01/01/2020,SMITHSONIANBUSVENT I,Gifts & Donations,Sale,-35.00,NaN

## Clean Dirty CSV

In [6]:
df_clean = df_dirty.copy()

In [7]:
#Split payments and Expenses from the Amount column
df = df_clean.copy()  
df['Expenses'] = df['Amount'] 
df['Payments'] = df['Amount']  
df['Expenses'] = df.loc[df['Expenses'] < 0, 'Expenses']
df['Payments'] = df.loc[df['Payments'] > 0, 'Payments']
#drop memo column
df.drop(['Memo'], axis=1, inplace =True)
#

df

,Transaction Date,Post Date,Description,Category,Type,Amount,Expenses,Payments
0,11/17/2020,11/17/2020,Payment Thank You-Mobile,NaN,Payment,6278.18,NaN,6278.18
1,11/15/2020,11/17/2020,BANGSALONVERIZONCENTER,Personal,Sale,-44.00,-44.00,NaN
2,11/16/2020,11/17/2020,HILL COUNTRY DC LLC,Food & Drink,Sale,-32.60,-32.60,NaN
3,11/16/2020,11/17/2020,HILL COUNTRY DC LLC,Food & Drink,Sale,-84.67,-84.67,NaN
4,11/15/2020,11/17/2020,NORDSTROM #0675,Shopping,Return,169.47,NaN,169.47
...,...,...,...,...,...,...,...,...
907,01/02/2020,01/03/2020,WALMART.COM,Shopping,Sale,-52.50,-52.50,NaN
908,01/02/2020,01/03/2020,UBER TRIP,Travel,Sale,-8.00,-8.00,NaN
909,01/01/2020,01/02/2020,UBER TRIP,Travel,Sale,-13.09,-13.09,NaN
910,12/31/2019,01/02/2020,7-ELEVEN 33452,Gas,Sale,-6.20,-6.20,NaN
911,12/30/2019,01/01/2020,SMITHSONIANBUSVENT I,Gifts & Donations,Sale,-35.00,-35.00,NaN

## Save Clean to new CSV

In [20]:
# create new empty column: Day  
df['Day'] = ''
   
# create new empty column: Month  
df['Month'] = ''
df
# **https://www.dataindependent.com/pandas/pandas-to-datetime/
# Set new column Day = the day extracted from Post Date column, using **to_datetime()
df['Day'] = df['Transaction Date'].apply(lambda x: x.split('/')[1])
df
# Set new column Month = the month extracted from Post Date column, using **to_datetime()
df['Month'] = df['Transaction Date'].apply(lambda x: x.split('/')[0])
df

,Transaction Date,Post Date,Description,Category,Type,Amount,Expenses,Payments,Day,Month
0,11/17/2020,11/17/2020,Payment Thank You-Mobile,NaN,Payment,6278.18,NaN,6278.18,17,11
1,11/15/2020,11/17/2020,BANGSALONVERIZONCENTER,Personal,Sale,-44.00,-44.00,NaN,15,11
2,11/16/2020,11/17/2020,HILL COUNTRY DC LLC,Food & Drink,Sale,-32.60,-32.60,NaN,16,11
3,11/16/2020,11/17/2020,HILL COUNTRY DC LLC,Food & Drink,Sale,-84.67,-84.67,NaN,16,11
4,11/15/2020,11/17/2020,NORDSTROM #0675,Shopping,Return,169.47,NaN,169.47,15,11
...,...,...,...,...,...,...,...,...,...,...
907,01/02/2020,01/03/2020,WALMART.COM,Shopping,Sale,-52.50,-52.50,NaN,02,01
908,01/02/2020,01/03/2020,UBER TRIP,Travel,Sale,-8.00,-8.00,NaN,02,01
909,01/01/2020,01/02/2020,UBER TRIP,Travel,Sale,-13.09,-13.09,NaN,01,01
910,12/31/2019,01/02/2020,7-ELEVEN 33452,Gas,Sale,-6.20,-6.20,NaN,31,12
911,12/30/2019,01/01/2020,SMITHSONIANBUSVENT I,Gifts & Donations,Sale,-35.00,-35.00,NaN,30,12

In [ ]:
df_clean.to_csv('Data/CC_2020YTD_Clean')

## Visualize the CLean

In [ ]:
df_clean = pd.read_csv('Data/CC_2020YTD_Clean')